* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.6;
    background-image: url("/media/backgroud.jpg");
    background-size: cover;
    background-position: center;
    color: #333;
  }

  .navbar {
    width: 100%;
    padding: 1em;
    position: fixed;
    background-color: rgba(51, 51, 51, 0.8); 
    top: 0;
    z-index: 1000;
    transition: top 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar.active {
    display: block;
}
  
  
  .navbar .navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
  }
  
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin-right: 10px;
  }
  
  .navbar li {
    display: inline;

  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  .menu-toggle {
    display: none;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
  }
  
 
  
  .container {
    display: flex;
    margin-top: 80px;}
  .sidebar {
    width: 25%;
    padding: 2em;
    color: #fff;
    text-align: center;}
  .profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 1em;}
  .sidebar h1 {
    font-size: 1.5em;}
  .social-icons {
    margin-top: 1em;}
  .icon {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
    text-decoration: none;}
  .icon:hover {
    color: #ddd;
  }
  
  .main-content {
    width: 75%;
    padding: 2em;
    background: rgba(255, 255, 255, 0);}
  main section {
    margin-bottom: 2em;}
  main h2 {
    color: #ffffff; }
  main p {
    font-size: 1.1em;}
  h4{
    font-family: Arial;
    font-size: small;}
 h5{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: medium;
  color: #fff
 }
 .cv-button {
  display: inline-block;
  margin-top: 1em;
  padding: 0.8em 1.5em;
  font-size: 0.8em;
  color: #fff;
  background-color: #242825; 
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.cv-button:hover {
  background-color: #373a38;}
  .cv-button i {
  margin-right: 0.5em;}
  .about {
  padding: 2em;
  color: #fff;
  background-image: url('media/background.jpg');
  background-size: cover;
  background-position: center;
}
.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-top: 1.5rem;
}
.education {
  padding: 0em;
  border-radius: 8px;
  margin-left: 450px;
  margin-top: -400px;
  color: white;
}

.interests{
  padding: 0em;
  border-radius: 8px;
  color: white;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: white;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 0.8em;
  font-size: 1.1em;
  line-height: 1.4;
}
li::before {
  content: "• "; 
  color: #50fa7b; 
}
.education li i {
  margin-right: 0.5em;
  color: #50fa7b;
}

.projects-section {
  padding: 15em;
  background-color: #11111100; 
  color: #fff;
  text-align: center;
}
.projects-section h2 {
  font-size: 2em;
  margin-bottom: 1em;
  color: #ffffff;
}
.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}
.project-item {
  background-color: #222;
  border-radius: 8px;
  overflow: hidden;
  max-width: 400px;
  width: 100%;
  text-align: left;
  transition: transform 0.3s ease;
}
.project-item:hover {
  transform: translateY(-5px);
}
.project-item img {
  width: 100%;
  height: auto;
}
.project-item h3 {
  color: #50fa7b;
  font-size: 1.25em;
  margin: 0.5em;
}

.project-item p {
  padding: 0 0.5em;
  font-size: 1em;
  color: #bbb;
}

.project-date {
  display: block;
  padding: 0.5em;
  color: #888;
  font-size: 0.9em;
}

.project-item a {
  color: inherit;
  text-decoration: none;
}

.project-item a:hover h3 {
  text-decoration: underline;
}


/* Responsividade para Tablets */
@media (max-width: 1024px) {
  .container {
      flex-direction: column;
  }

  .sidebar, .main-content {
      width: 100%;
      padding: 1em;
  }

  .about-grid {
      grid-template-columns: 1fr;
  }

  .education {
      margin-left: 0;
      margin-top: 2em;
  }
}


/* Responsividade para Celulares */
@media (max-width: 768px) {

  .navbar{
    margin-top: -1em;
  }
  .navbar ul {
      text-align: inline;
  }

  .navbar li {
      display: block;
      margin: 0.8em;
  }

  .cv-button {
      font-size: 1em;
      padding: 1em 2em;
  }

  .projects-section {
      padding: 5em;
  }

  .project-item {
      max-width: 100%;
  }

  .profile-pic {
      width: 150px;
      height: 150px;
  }

  .sidebar h1 {
      font-size: 1.2em;
  }

  main h2 {
      font-size: 1.3em;
  }

  .projects-section h2 {
      font-size: 1.8em;
  }
}


@media (max-width: 768px) {
 
  .menu-toggle {
      display: block;
  }

  
  .navbar ul {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: rgba(51, 51, 51, 0.9);
      position: absolute;
      top: 60px; 
      left: 0;
      text-align: center;
  }

  
  .navbar ul.active {
      display: flex;
  }

 
  .navbar .navbar-brand {
      margin: 0 auto;
  }

  
  .navbar a {
      font-size: 1em;
      padding: 1em 0;
      display: block;
  }
}
