/* Reset e Temas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.light-theme {
    --bg-color: #f5f5f5;
    --text-color: #333;
    --header-color: #4a90e2;
    --navbar-bg: rgba(255, 255, 255, 0.9);
    --navbar-text: #333;
    --footer-bg: #e1e1e1;
}

.dark-theme {
    --bg-color: #333;
    --text-color: #fff;
    --header-color: #ffffff;
    --navbar-bg: rgba(51, 51, 51, 0.8);
    --navbar-text: #fff;
    --footer-bg: #111;
}

/* Estilos Gerais */
body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    background-size: cover;
    background-position: center;
}

.profile-pic {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

/* Navbar */
.navbar {
    width: 100%;
    padding: 1em;
    position: fixed;
    background-color: var(--navbar-bg);
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    gap: 10px;
}

.navbar li {
    display: inline;
    margin: 0 10px;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0 20px;
}

.navbar a {
    color: var(--navbar-text);
    text-decoration: none;
    font-size: 1.2em;
}

/* Header */
.sim-header {
    color: var(--header-color);
    text-align: center;
    padding: 20px 0;
    margin: 100px;
}

.sim-header h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: var(--header-color);
}

.sim-header p {
    font-size: 1.2em;
    font-weight: 300;
    color: var(--text-color);
}

.project-img {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
}

/* Conteúdo */
.sim-content {
    max-width: 800px;
    margin: 50px auto;
    padding: 5px;
    color: var(--text-color);
}

.sim-article {
    margin-top: -80px;
}

.sim-article h2 {
    font-size: 1.8em;
    color: var(--header-color);
    margin-bottom: 10px;
}

/* Tema Toggle */
.theme-toggle-container {
    text-align: right;
    margin: 20px;
}

.container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
}

/* Flexibilidade para Tags e Ícones Sociais */
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.tag {
    background-color: #0a6932;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.9em;
}

.social-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;
}

.social-icons i {
    color: #eaeaea;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.social-icons i:hover {
    background-color: #555;
}

/* Autor */
.author-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

.author-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.author-details {
    text-align: left;
}

.author-title {
    font-size: 0.8em;
    color: #aaa;
    margin: 0;
}

.author-name {
    font-size: 1.5em;
    margin: 5px 0;
    color: #eaeaea;
}

.author-position {
    font-size: 1em;
    color: #ddd;
    margin: 5px 0;
}

.author-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.author-icons i {
    font-size: 1.2em;
    color: #eaeaea;
    transition: color 0.3s;
}

.author-icons i:hover {
    color: #ccc;
}

/* Rodapé */
.sim-footer {
    text-align: center;
    padding: 10px 0;
    background-color: var(--footer-bg);
    color: var(--text-color);
    margin-top: 10px;
}

.sim-footer p {
    font-size: 0.9em;
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        display: none;
    }
    .navbar ul.active {
        display: flex;
    }
    .menu-toggle {
        display: block;
        font-size: 1.5em;
        color: var(--navbar-text);
        cursor: pointer;
    }
    .navbar-brand {
        font-size: 1.2em;
        text-align: center;
    }
    .sim-header h1 {
        font-size: 2em;
    }
    .sim-header {
        margin: 20px;
    }
    .project-img {
        width: 100%;
    }
    .sim-content {
        padding: 10px;
    }
    .tags, .social-icons {
        gap: 5px;
    }
    .author-info {
        flex-direction: column;
        text-align: center;
    }
    .author-pic {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .navbar ul {
        display: none;
    }
    .navbar a {
        font-size: 1em;
    }
    .sim-header h1 {
        font-size: 1.8em;
    }
    .sim-content {
        margin: 20px -25px;
        padding: 50px;

    }
    .tags, .social-icons {
        gap: 3px;
    }
    .author-title {
        font-size: 0.7em;
    }
    .author-name {
        font-size: 1.2em;
    }
    .author-position {
        font-size: 0.9em;
    }
    .sim-footer p {
        font-size: 0.8em;
    }
}
